# Documentos privados de trabajo
.agent.md
claude_prompt.txt
subir_a_uv.sh
flatly-revealjs.scss
presentacion.html
presentacion.qmd
presentacion_files/


# Archivos internos de Quarto
curso/.quarto/

# Sitio generado (se puede regenerar con quarto render)
curso/_site/

# VS Code
.vscode/

# Linux
*~
.DS_Store
